.logo {
    margin: 0 1rem 0 auto;
    width: 3rem;
}

#col-sx{
    background: linear-gradient(173.07deg, $dark 36.09%, $purple 100%);
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 0;
    padding-top: 1.5rem;

    .card{
        background-color: transparent;
        color: white;
        text-align: center;

        .card-body{
            padding: 0 !important;

            img {
                width: 1.8rem;
                border-radius: 50%;
                border: 1px dotted $purple;
                margin: 0 auto;
            }

            .online{   
                margin-top: 0.3rem;
                display: none;
                    
                p{
                    margin-bottom: 0;
                    font-size: 0.8em;

                    .dot {
                        height: 7px;
                        width: 7px;
                        background-color: rgb(68, 237, 68);
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }

            #pname{
                font-size: 1.2em;
            }
        }
    }
}

    .container{
        
        margin-top: 1.3rem;
        padding: 0;

        .list-group-item{
            padding: 0 !important;
            margin-bottom: 1rem;
            background-color: transparent;
            border: none;
            color: white;

            strong {
                display: none;
            }

            .iconify{
                color: #9637E0;
                margin: 0 auto;
                width: 1.5rem;
                height: 1.5rem;
            }

        }

        .list-group-item:hover{
            display: none;
            background-color: #C3B4CF;
            color: #000000;
        }


        .profiledrop{
            display: none;
        } 
    }

    .footer{
        text-align: center;
        margin-top: 10rem;
    }
}

#col-dx {
    background-color: #9737e015;
    height: fit-content;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 1px $dark-purple;
    padding: 0;

    .card{
        background-color: transparent;
        color: white;
        border: none;

        .card-body{
            display: -webkit-box;
            padding: 10px;
            margin-top: 10px;

            .online{
                margin-left: 15px;
                margin-top: 5px;
                    
                p{
                    margin: 0;
                    font-size: 0.6em;

                    .dot {
                        height: 7px;
                        width: 7px;
                        background-color: rgb(68, 237, 68);
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }

            #pname{
                font-size: 0.9em;
            }
        }
    }
}

    img{
        width: 2rem;
        height: 2rem;
    }
}

//=============================

@media screen and (min-width: 768px){
    .logo {
        width: 12rem;
        text-align: left;
    }

    #col-sx{

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 90%;
        border: 1px solid #6C4897;
        border-radius: 16px;
        margin: 0 auto;

        .card-body{
            display: -webkit-box;
            margin: 1rem;

            img {
                width: 3.2rem;
                margin: 0;
            }

            .online{
                margin-left: 1.3rem;
                margin-top: 0.4rem;
                display: inline-block;
                    
                p{
                    margin: 0;
                    font-size: 1rem;

                    &:last-child {
                        font-size: 0.8rem;
                    }

                    .dot {
                        height: 7px;
                        width: 7px;
                        background-color: rgb(68, 237, 68);
                        border-radius: 50%;
                        display: inline-block;
                    }
                }
        }
    }
}

    .container{
        margin-top: 1.3rem;
        text-align: left !important;

        .list-group-item{
            background-color: transparent;
            border: none;
            color: white;

            strong {
                display: inline-block;
            }

            .iconify{
                color: #9637E0;
                margin-right: 0.5rem;
                width: 3rem;
            }

            .profiledrop{
                display: inline-block;
            } 
        }

        #dropdown {
            margin-left: 3.8rem; 
            font-size: 0.8rem;
        }

        .list-group-item:hover{
        display: inline-block;
        }
    }

    .footer{
        text-align: center;
        margin-top: 10rem;
    }
}
}

@media screen and (min-width: 992px) {
    #dropdown {
        margin-left: 4rem;  
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        .card-body {
            .online{
                p {
                    font-size: 3rem;
                }
                &:last-child {
                    font-size: 1.3rem;
                }
            }
        }
    }
}