.loginbody  {
    background-image: linear-gradient(116.82deg, rgba(150, 55, 224, 0.8) 0%, #302A2A 81.59%) !important;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.logincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(217, 217, 217, 0.425);
  border-radius: 50px;
  width: 90%;
  margin: 4rem auto;

  img {
      width: 30%;
      margin: 2rem auto;
     } 

  .loginform {
      margin: 0 auto;
      width: 70%;
      input {
        margin: 0 auto !important;
      }
      #username {
          background-color:#5F5555 !important;
          border-radius: 7px;
          color: #FFFFFF7D;
          padding-left: 2rem;
      }
      #password {
          background-color:#5F5555 !important;
          border-radius: 7px;
          color: #FFFFFF7D;
          padding-left: 2rem;
     }
     .form-control::placeholder {
      color: #FFFFFF7D;
      opacity: 1;
    }
  }

.iconify {
  top: -2.3rem;
  color: #FFFFFF7D;
  font-size: 1.2rem;
  position: relative;  
  justify-content: flex-start !important;
}

h4 {
  text-align: center;
  color: $dark-purple;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

  button {
    margin: 0 auto 2rem auto;
    padding: 1rem 2rem;
    border-radius: 10px;    
    box-shadow: 2px 2px 10px 1px $dark-purple;
    
    &:hover{
      background-color: $dark-purple;
      box-shadow: 2px 2px 12px 1px $dark-purple;
    }
  }
}

@media screen and (min-width:575px) {
  .logincontainer {
    width: 60%;
    h4 {
      font-size: 2.5rem;
    }
  }
}

@media screen and (min-width:768px) {
  .logincontainer {
    width: 50%;
    h4 {
      font-size: 2.8rem;
    }
  }
}

@media screen and (min-width:992px) {
  .logincontainer {
    width: 40%;
  }
}

@media screen and (min-width:1200px) {
  .logincontainer {
    width: 30%;
  }
}
