.loginbody  {
    background: linear-gradient(116.82deg, rgba(150, 55, 224, 0.8) 0%, #302A2A 81.59%) !important;
    height: 100vh;
}

.container {
    background: rgba(217, 217, 217, 0.73);
    border-radius: 50px;
    height: 35vh;
}