#icons {
    display: flex;
    justify-content: flex-end;
}

.iconify {
    color: $purple;
    font-size: 2rem;
    margin: 0.5rem;
    
}

#header {
    background: linear-gradient(349.97deg, $dark 62.02%, $purple 113.37%);
    img {
        margin: 1rem;
        width: 12rem;
    }
}

#profileImg {
    width: 35%;
    border: 2px dotted $purple !important;
    border-radius: 50%;
    margin: 2rem auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 3;
}

#userProfile {
    .card {
        margin: 5rem auto !important;
        width: 95%;
        border: 1px solid $purple !important;
        border-radius: 15px !important;
        box-shadow: 2px 2px 10px 1px $purple;
        position: relative;
    }
    .card-body {
        margin: 7rem 1rem !important;
        h2, h5 {
            color: $white;
        }
        h2 {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2rem;
        }
        h5 {
            font-weight: bold;
            font-size: 1rem;
            margin: 4rem auto 2rem auto;
        }
        p {
            margin-left: 1rem;
            font-size: 1rem;
        }
        span {
            color: $dark-purple;
            font-weight: 600;
        }
    }
}

@media screen and (min-width:575px) {
    #userProfile {
        .card {
            width: 80%;
            margin: 9.5rem auto !important;
        }
    }
}

@media screen and (min-width:768px) {
    #icons {
        position: absolute;
        top: 15rem;
        left: 1rem;
    }

    #userProfile {
        .card {
            margin: 9rem auto !important;
        }
        .card-body {
            h5, p {
                margin-left: 0;
            }
        }
    }

    #profileImg {
        left: -15vw;
        width: 25%;
    }
}

@media screen and (min-width:992px) {
    #userProfile {
        h2 {
            margin-top: 4rem !important
        }
    }
   
    #profileImg {
        width: 20%;
    }
}

@media screen and (min-width:1200px) {
    #userProfile {
        h2 {
            margin-top: 8rem !important
        }
    }
}

@media screen and (min-width:1400px) {
    #userProfile {
        h2 {
            margin-top: 10rem !important
        }
    }
}