@import 'variables';
@import 'profile';

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import  'login';
/* General */

*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $dark;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    color: $secondary;
    margin: 0;
    font-size: 24px;
}

@media screen and (min-width:768px) {
    .logo {
        content: url(../img/svg/banner.svg);
    }
}


@import 'main';
@import 'colonne';