:root {
    --primary: #6c4897;
    --dark: #1d1d1d;
}

body {
    background-color: var(--dark);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5rem;
}

img {
    width: 250px;
}

h1{
    color: var(--primary);
}